.select-product-container {
  max-width: width 1110px;
}

.order-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.company-name {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ff7e1b;
  margin-bottom: 24px;
}

.product-name {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;

  color: #1d2026;
  margin-bottom: 32px;
}

.product-description {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #69707d;
  margin-bottom: 24px;
}

.product-price {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;

  color: #1d2026;
}

.sale-in-procent {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-left: 23px;
  color: #ff7e1b;
  border: none;
  background: #ffeee2;
  border-radius: 6px;
  padding: 7px 11px 0px 8px;
}

.old-price {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;

  color: #b6bcc8;
  margin-bottom: 32px;
}

.product-number {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 157px;
  height: 50px;

  border-radius: 10px;
  background: #f6f8fd;
}

.product-numbers {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1d2026;
}

.minus {
  margin-left: 8px;
  width: auto;
  height: 6px;
  cursor: pointer;
}

.plus {
  margin-right: 8px;
  width: auto;
  height: 20px;
  cursor: pointer;
}

.payment-method {
  margin-top: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-button-bar {
  display: flex;
  align-items: center;

  margin-left: 25px;
  background: #ff7e1b;
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  border-radius: 10px;
  padding: 19px 76px 18px 77px;
  cursor: pointer;
  text-decoration: none;
}

.delivery-button {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  border: none;
  background: none;
  margin-left: 8px;
  cursor: pointer;
}

.product-show-img {
  width: auto;
  height: 520px;
  margin-right: 55px;

  --g: 4px; /* the gap */
  --b: 12px; /* border thickness*/
  --c: #669706; /* the color */

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
}

.product-show-img:hover {
  --_p: 75%;
  filter: grayscale(0%);
  width: auto;
  height: 550px;
  transition: 1s;
}

.gesamt-summe {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border-radius: 8px;
  margin-left: 30px;
  height: 50px;
  width: 150px;
  color: #faf8f6;
  background: #172339;
  /* Dark Blue */

  border: 1px solid #172339;
  border-radius: 6px;
}
